body {

    background-color: #9C835F;
    
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}


.navbar {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
 
 }

.navbar p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
}

.navbar p1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
}

.img1-logo {
    width: 70px;
    height: 70px;
    border-radius: 75%;
}

.player-1 {
 
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
   
}

.player-1 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.mid-text {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
}

.mid-text p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
}

.player-com {
  
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.player-com p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.batu, .kertas, .gunting {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    cursor: pointer;

   
}

.reload {
    width: 40px;
    height: 35px;
    cursor:pointer;
    margin-top: 150px;
}

.batu:hover, .kertas:hover, .gunting:hover {
    background-color: white;
    opacity: 0.4;
    transition: 0.4s;
    width: 120px;
    height: 120px;
    border-radius: 15px;
}    

